.banner {
    /* Styles pour la bannière par défaut */
    background-color: firebrick;
    width: 5000px;
  }
  
  .banner-home {
    /* Styles spécifiques pour la bannière de la page d'accueil */
    background-color: firebrick;
    width: 5000px;
  }
  
  .banner-about {
    /* Styles spécifiques pour la bannière de la page "À propos" */
    background-color: firebrick;
    width: 500000px;
  }
  
  .banner-about-mobile {
    background-color: firebrick;
    width: 5000px;
  }


  