$font-family: Montserrat;
$background-color: indianred;
$white: white;
$black: black;
$red: #FF6060;
$grey: #E3E3E3;
$linear-gradient: linear-gradient(to top, $black, $white);
$background-overlay: linear-gradient(to top, $black, $white);

body {
  font-family: $font-family;
  margin-top: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;


  .main-content, a {
    text-decoration: none;
  }

  .menu {
    gap: 5%;
  }
  
main{
  padding: 0 2%;
  margin: auto;
  max-width: 1240px;
  flex: 1 0 auto;
  min-height: 80vh;
  margin-bottom: 0;

}

  .menu {
    width: 70%;
    display: flex;
    justify-content: flex-end;
  }

  .bloc-logo{
    width: 30%;
  }


  

  .banner {
    background-color: $background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 223px;
    margin: auto;
    border-radius: 25px;
    background-image: url('../../public/img/banner_home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-top: 45px;
    height: 223px;
    margin-bottom: 15px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $black;
      opacity: 0.1;
      border-radius: 25px;
      z-index: 1;
    }

    img {
      max-height: 100%;
      object-fit:contain;
    }

    h1 {
      font-size: 3rem;
      text-align: left;
      color: $white;
      z-index: 2;
      font-weight: 100;
    }

  }

  .card-list {
    display: grid;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
    background-color: $grey;
    border-radius: 25px;
    grid-template-columns: repeat(3, auto); // Change ici
    justify-content: center; // Centrer horizontalement les éléments de la grille
    align-content: center; // Centrer verticalement les éléments de la grille
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
    margin: 5%;
  

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $background-overlay;
      border-radius: 10px;
      z-index: 1;
      opacity: 0.4;
    }
    
   
    .image-container {
      position: relative;
      width: 100%;
      height: 100%;
  
      img {
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index: 0;
      }
  
      h2 {
        position: absolute;
        left: 15px;
        bottom: 10px;
        color: $white;
        text-align: left;
        font-size: 1.1rem;
        z-index: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px;
      }
    }
  }
  
  .about-accordeon{
    padding: 0px;
    margin-bottom: 0px;
  }

  

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding-top: 25px;

    a {
      font-size: 1.4em;
      color: $red;
      font-weight: 500;
    }

    img {
      height: 50px;
    }
  }

  .photo-counter {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
  }

  footer {
    background-color: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 209px;
    justify-content: center;
    align-items: center;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1240px;
    flex-shrink: 0;

    
    img {
      width: 123px;
      height: auto;
      margin-bottom: 25px;
    }
  }

 
  
  .menu-propos.about-page {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .star-filled,
  .star-filled-grey,
  .star-empty {
    color: $red;
    font-size: 1.6em;
    padding: 4px;
  }

  .star-filled-grey,
  .star-empty {
    color: $grey;
  }

  .error {
    color: #FF6060;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 75vh; /* Prend 100% de la hauteur de la fenêtre de visualisation */
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: $red;
      font-size: 15em;
      text-align: center;
      margin-bottom: 12%;
    }

    p {
      margin-top: 0;
    text-align: center;
    align-items: center;
    font-size: 2em;
    margin-bottom: 7%;
    }

    a{
      color: #FF6060;
      text-decoration: underline;
      margin-bottom: 20%;
    }
  }

  


  .description1 {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 15px;
    
  }

  .bloc1 {
    display: flex;
    flex-direction: column;
    width: 85%;
    color: $red;
    height: 100%;

    h1 {
      margin: 0;
    }

    p {
      margin-top: 0;
    }
  }

  .bloc2 {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
    align-items: flex-end;
    color: $red;
   


    p {
      color: $red;
      width: 50%;
      text-align: end;
      padding-right: 15px;
    }
  }

  .bloc3 {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
  }



  .hote img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
  }

  .hote_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

  }

  .location {
    color: $red;
    text-align: left;
    margin-top: 0;
  }

  .accordion-container {
    display: flex;
    flex-direction: row; 
    align-items: stretch; 
    justify-content: space-between;
    margin-bottom: 100px;
  }
  
  


  .accordeon {
    flex: 1 0 48%;
    &.open {
      .content {
        opacity: 1;
        max-height: 500px;
        transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;
        transition-delay: 0.1s;
      }
    }

    &.closed {
      .content {
        opacity: 0;
        max-height: 0;
        transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;
        transition-delay: 0s;
      }
    }

    &.animating {
      .content {
        transition-duration: 0.2s;
      }
    }

    h2 {
      color: $white;
      cursor: pointer;
      height: 52px;
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding-left: 20px;
      margin-bottom: 10px;
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      padding-right: 25px;

      &.open,
      &.closed {
        background-color: $red;
      }
    }

   
 

    .content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 0 0 15px 15px;
      background-color: #F6F6F6;
      margin-top: -17px;
      position: relative;
      z-index: 1;
      color: $red;

      p {
        padding-top: 15px;
        text-align: left;
        padding-left: 10px;
        margin: 0;
        margin-top: 15px;
        font-size: 1.2em;
        margin-bottom: 0;      }
    }
  }

  ul.tag-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    li {
      display: inline-block;
      margin-right: 10px;
      padding: 5px 10px;
      background-color: $red;
      color: $white;
      text-align: center;
      border-radius: 10px;
      font-size: 0.9em;
      margin-top: 0;
    }
  }

  .slideshow {
    position: relative;
    width: 100%;
    height: 500px!important;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 50px;
    margin-top: 40px;

    img {
      width: 100%;
      height: 500px!important;
      object-fit: cover;
    }
  }

  .arrow-icon {
    padding-right: 25px;
  }

  .slideshow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 2;
  }

  .slideshow-button-previous {
    font-size: 100px;
    left: 20px;
    color: white;
    opacity: 0.8;
    height: 200px;
  }

  .slideshow-button-next {
    font-size: 100px;
    right: 20px;
    color: white;
    opacity: 0.8;
    height: 200px;
    font-weight: 100;
  }

  .content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    padding-bottom: 20px;
    text-align: left;
  }
    
  .content.open {
    max-height: 800px;  
    opacity: 1;
    visibility: visible;
  }
  

  .open_collapse ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin-top: 25px;
    font-size: 1.1em;
    margin-left: 3%;
    
  }

  .open_collapse {
    width: 100%;
  }

  .list-items{
    width: 100%;
    padding: auto;
    text-align: center;
  }
  
  

  .active-link{
    text-transform:none;
    text-decoration: underline;
  }

  
  
  
  footer {
    position:static;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
  }
  

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  

  @media (max-width: 768px) {

    .accordeon {
      padding-bottom: 5px;
      h2 {
        &.open,
        &.closed {
          height: 35px;
        }
      }
    }

  

       
    .banner {
      width: 90%;
      height: 111px;
      display: flex;
      justify-content: center;
      align-items: center;

      h1{
        width: 85%;
        font-size: 2em;
        text-align: left;
      }
  
    
    }

    .banner-about {
      height: 300px;
      margin-bottom: 0px;
    }
    

 
  
    .accordeon{ &.closed
      {
        background-color: #FF6060!important;
        
      }}
  
    nav img{
      max-width: 100%;

    }

    .bloc-logo{
      width: 30%;
    }

    .photo-counter {
      display: none;
    }

    nav a {
      text-transform: uppercase;

    }

    .active-link{
      text-transform: uppercase;
    }
    


    .description1{
      flex-direction: column;
    }

    .bloc-infos {
      flex-direction: column;
      height: auto;
    }
    .bloc1 {
      width: 100%;
      gap: 0px;
    }

    .bloc2{
      flex-direction: row;
      width: 100%;
      margin-top: 15px;
      justify-content: space-between;
      align-items: center;
      p {
        color: $red;
        width: 50%;
        text-align: end;
      }

      img {
        height: 44px;
        width: 44px;
      }

    }

    .bloc3{
      flex-direction: column;
      justify-content: baseline;
      width: 100%;
    gap:0px;
    }

    .bloc-logo{
      width: 50%;
    }

    .menu {
      width: 72%;
    }

    .bloc-logo img{
      object-fit: contain;
    }
    .accommodation-accordeon {
      width: 90%;
    }

    .accordeon h2{
      font-size: 1em;
    }
  
    .hote {
      margin-left: 0px;
     order: 1;
     justify-content: end;

    }

    .banner,
    .card-list {
      width: 100%;
    }



    nav {
      width: 100%;
      a {
        font-size: 0.9em;
      }




      img {
        height: 50px;
        padding-left: 0;
      }
    }

    .card-list {
      grid-template-columns: 1fr;
      background-color: transparent;
      margin-bottom: 0px;
    }

  


 
  
  }



  
@media (max-width: 768px) {


  .error {
    height: 75vh; /* Prend 100% de la hauteur de la fenêtre de visualisation */
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: $red;
      font-size: 7em;
      text-align: center;
      margin-bottom: 12%;
    }

    p {
      margin-top: 0;
    text-align: center;
    align-items: center;
    font-size: 2em;
    margin-bottom: 25%;
    }

    a{
      color: #FF6060;
      text-decoration: underline;
      margin-bottom: 20%;
    }
  }




  .slideshow {
    height: 300px!important;
  
    img {
      height: 300px!important;
    }
  }
  .slideshow-button {
    font-size: 35px;
  }

  

}



  

  





}
